@media (max-width: 1400px) {
  .navbar img {
    max-width: 80%;
  }
  .showcase-content .showcase-form {
    width: 70%;
  }
  .join-section .ad-card {
    min-width: 290px;
  }
  .my-navbar {
    height: 9vh;
  }
  .facilities {
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
  }
  .facility {
    transform: scale(0.85);
  }
  .showcase-content h3 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  .showcase-content .showcase-form {
    margin-top: 0.5rem;
  }
  .showcase-content .showcase-form input.showcase-input {
    padding: 0.5rem 0;
    padding-left: 1.5rem;
  }
  .find-mentor .mentor-card img {
    height: 150px;
    width: 150px;
  }
  /* PROGRAMS SECTION  */
  .programs-section .program-container,
  .programs-cards .swiper-container {
    height: 350px;
  }
  .programs-cards .swiper-container .program-container {
    height: 310px;
  }
  .programs-section .program-container h1 {
    margin-top: 1.6rem;
    font-size: 2.5rem;
  }

  /* BLOGS SECTION */
  .blogs-section .blogs-container .header,
  .blogs-section .blogs-container .main-img {
    height: 200px;
  }

  @media (min-width: 1050px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1250px !important;
    }
    .showcase-content {
      padding: 0 1.5rem;
      height: 70vh;
    }
    .showcase-image,
    .showcase {
      height: 70vh;
    }

    .my-navbar .container {
      padding: 0 1.5rem;
    }
    .testimonial-card {
      padding: 2.5rem 2rem 1.5rem 2rem !important;
    }
  }
}
