@media only screen and (max-width: 1050px) {
  .showcase {
    height: 60vh;
  }
  .showcase-image {
    height: 60vh;
  }
  .showcase-content {
    width: 70vw;
    height: 70vh;
  }
  .showcase-content .showcase-form {
    width: 90%;
  }
  .showcase-mentor-card-top {
    padding: 2rem;
  }

  .find-mentor h1,
  .join-section h1,
  .programs-section h1,
  .testimonial-section h1,
  .partners-section h1,
  .news-section h1,
  .blogs-section h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }
  .find-mentor > p,
  .join-section > p,
  .programs-section > p {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
  }
  .join-section > p {
    margin-bottom: 0.75rem;
  }
  .find-mentor .mentor-card img {
    width: 120px;
    height: 120px;
  }
  .find-mentor .mentor-card .mentor-card-btn {
    font-size: 0.65rem;
  }
  .find-mentor .mentor-card .mentor-card-btn.active {
    transform: scale(1.1);
  }
  .join-section .join-card .signup-btn {
    margin: 0;
    margin-top: 0.75rem;
    font-size: 0.95rem;
    width: 140px;
  }
  .join-section .ad-card {
    height: 250px !important;
    min-width: 250px;
  }

  .footer .img {
    background: #fff;
    border-radius: 65px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem 0;
  }
  .footer .img img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    text-align: center;
  }
  .footer .img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-radius: 40px;
    padding: 1rem;
  }
  .footer .left p {
    margin-top: 120px;
    font-size: 1.2rem;
  }
  .footer .right .socials {
    margin: 1rem auto 0;
  }
}
